
.info-box {

    background-color: var(--info-box-bg-color);
    width: 80%;
    margin: auto;
    min-height: 100px;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: solid 1px  var(--info-box-text-color);
}
.info-box-title {
    text-align: center;
    margin : auto;
    font-size: 30px;
    line-height: 20px;
    color: var(--info-box-text-color);
    padding-top: 10px;
    padding-bottom: 10px;
}
.info-box-text {
    text-align: center;
    margin : auto;
    font-size: 14px;
    line-height: 20px;
    color: var(--info-box-text-color);
}