.theme-select-radio-container {
    color: var(--app-default-color);   
}



input[type=radio],
input[type=checkbox]{
  visibility: hidden;
  position: absolute;
}


input[type=radio] + label:before,
input[type=checkbox] + label:before{
  height:12px;
  width:12px;
  margin-right: 2px;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  border: 1px solid var(--app-default-color);   
}


input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before{
     background : var(--app-default-color);   
}


input[type=radio] + label:before{
    border-radius:2px;
}
input[type=checkbox] + label:before{
  border-radius:2px;
}