
.accordion-container.default {
    --accordion-title-color : cyan;
    --accordion-title-bg-color : rgba(22, 26, 31, 0.8);


    --accordion-content-color : cyan;
    --accordion-content-bg-color : rgba(29, 28, 28, 0.8);
}

.accordion-container {
    display: grid;
}

.accordion-content {
    width: 100%;
    min-height: 250px;
    color : var(--accordion-content-color);
    background-color : var(--accordion-content-bg-color);
}
.accordion-container .accordion-content {
    display: none;
}
.accordion-container.expanded .accordion-content {
    display: block;
}

.accordion-expand-icon {
    width : 10px;
    height : 10px;
} 

.accordion-container .accordion-expand-icon {
    transform: rotate(90deg);
}
.accordion-container.expanded .accordion-expand-icon {
    transform: rotate(180deg);
}

.accordion-expand-icon-container {
    margin-right: 20px;
}
.accordion-title-content {
    display: flex;
    vertical-align: center;
    position: absolute;
    top : 30%;

}
.accordion-title {
    height : 40px;
    position: relative;
    background-color: var(--accordion-title-bg-color);
    color : var(--accordion-title-color);
    border-bottom : 1px solid var(--accordion-title-color);
}